<nav class="navbar navbar-expand-sm bg-body-tertiary edge-background static-top">
  <div class="container-fluid">
    <h1 class="navbar-brand h1 fs-1">H<span style="color:#e61077;">!</span>-ART</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="true">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="search" routerLinkActive="true">Browse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="community" routerLinkActive="true">Community</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="true" ariaCurrentWhenActive="page">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid bg-secondary">
  <div class="row align-items-start">
    <div class="offset-md-1 col-md-10 bg-light pb-5">
      <router-outlet>
  
      </router-outlet>
    </div>
  </div>
</div>

<footer class="edge-background bg-secondary">
  <p class="text-center text-light">Copyright &#169; 2024 H!-ART</p>
</footer>